body {
  background-color: #7da8b6;
  font-family: sans-serif;
}

div.header-container {
  background-color: #76c8e1;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 0.2rem solid #043949;
}

.favorites-button,
.new-catch-button,
.library-button {
  color: #76c8e1;
  background-color: #043949;
  border: none;
  font-size: 2.8rem;
  padding: 1rem;
}

.favorites-button {
  border-bottom-right-radius: 40px;
}

.new-catch-button {
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.library-button {
  border-bottom-left-radius: 40px;
}

.favorites-button:hover,
.new-catch-button:hover,
.library-button:hover {
  cursor: pointer;
  height: 6.5rem;
  color: white;
}

div.carousel {
  display: flex;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: space-between;
  border: 10px solid #043949;
}

div.favorite-pokemon {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.pokemon-info {
  flex-basis: 50%;
  text-align: center;
}

img.favorite-image {
  height: 18.75rem;
  flex-basis: 50%;
}

.fa-angle-left,
.fa-angle-right {
  color: #043949;
}

.left-button,
.right-button {
  display: flex;
  justify-content: center;
  flex-basis: 15%;
  background-color: #76c8e1;
  height: fit-content;
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}

.left-button {
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.right-button {
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.secondary-text {
  color: #828282;
}

div.pokemon-image {
  display: flex;
  align-items: center;
}

.left-button:hover,
.right-button:hover {
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  color: white;
}

.left-button:hover .fa-angle-left {
  color: white;
}

.right-button:hover .fa-angle-right {
  color: white;
}

.entry {
  background-color: #d9d9d9;
  border: 10px solid #043949;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.25rem;
}

.entry-image {
  max-height: 12.5rem;
  max-width: 12.5rem;
  flex-basis: 30%;
}

.entry-name {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.entry-encounter {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.entry-secondary {
  color: #828282;
}

.search-bar {
  font-size: 3.75rem;
  border-radius: 40px;
  padding: 0.3rem;
  padding-left: 1.25px;
  padding-right: 1.25px;
  border: none;
  background-color: #76c8e1;
  color: #043949;
  text-align: center;
}

.search-bar:focus {
  outline: 0.125rem solid #043949;
}

.search-bar::placeholder {
  color: #415358;
}

.fa-magnifying-glass {
  color: #043949;
}

.search-bar-row {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 923px) {
  .favorites-button,
  .new-catch-button,
  .library-button {
    font-size: 1.87rem;
    padding: 1rem;
  }

  div.header-container {
    height: 6.25rem;
  }

  .favorites-button:hover,
  .new-catch-button:hover,
  .library-button:hover {
    cursor: pointer;
    height: 5.625rem;
    color: white;
  }

  div.carousel {
    width: 100%;
  }

  div.favorite-pokemon {
    flex-direction: column;
  }

  img.favorite-image {
    height: 13.75rem;
  }

  .pokemon-info {
    font-size: 0.625rem;
  }

  .search-bar {
    font-size: 1.875rem;
    border-radius: 40px;
    padding: 0.3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .entry {
    margin-left: 0;
    margin-right: 0;
  }

  .entry-image {
    max-height: 12.5rem;
    max-width: 12.5rem;
    flex-basis: 30%;
  }

  .entry-name {
    font-size: 0.625rem;
  }

  .entry-encounter {
    font-size: 0.625rem;
  }
}
